#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.formContainer {
  background-color: coral;
  padding: 15px;
  margin-bottom: 25px;
}

.formContainer input {
  background-color: antiquewhite;
  color: black;
}

.authContainer {
  background-color: coral;
  padding: 15px;
  margin-top: 25px;
}

.card {
  padding: 2em;
}